/data/down512_standard_1208_1700/images.npy
/data/down512_standard_1208_1700/masks.npy
/data/down512_standard_1208_1700/kaggle.json
/data/down512_standard_1208_1700/X_train_images.npz
/data/down512_standard_1208_1700/X_test_images.npz
/data/down512_standard_1208_1700/y_train_masks.npz
/data/down512_standard_1208_1700/y_test_masks.npz
/data/down512_standard_1208_1700/standard_1208_0915.keras